---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found | FeldrinH.com">
    <h1>404: Page not found</h1>
</Layout>

<style>
    h1 {
        text-align: center;
    }
</style>