---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout title="FeldrinH.com">
	<h1>FeldrinH <a href="https://github.com/FeldrinH"><img alt="GitHub (FeldrinH)" src="/img/github-mark.svg" class="logo" /></a></h1>
	<h2>Useful(ish) projects</h2>
	<Project title="Cleantimer" href="https://cleantimer.vercel.app" github="FeldrinH/cleantimer" />
	<Project title="ICS calendar splitter" href="https://github.com/FeldrinH/ics-splitter" github="FeldrinH/ics-splitter" />
	<Project
		title="League of Legends memory reader for Python"
		href="https://github.com/FeldrinH/python-farsight-module"
		github="FeldrinH/python-farsight-module"
	/>
	<Project title="Arma Reforger Mortar Calculator" href="https://mortar-calculator.feldrinh.com" />
	<Project title="TASmaniac (Ambidextro TAS tool)" href="https://github.com/FeldrinH/TASmaniac" github="FeldrinH/TASmaniac" />
	<h2>Experiments</h2>
	<Project title="ASMbot" href="http://phxc.ee/vigurid/asmbot" />
	<Project title="Course dependent graph visualizer" href="http://www.phxc.ee/vigurid/õisgraaf" /> 
	<Project title="Multi-window physics" href="http://phxc.ee/vigurid/fyysika" />
	<Project title="Christmas (binary) tree" href="https://www.phxc.ee/vigurid/jõulupuu" />
	<h2>Games</h2>
	<Project title="Cartwheel of Time" href="https://bangthewall.itch.io/cartwheel-of-time" />
	<Project title="HexOnline" href="https://github.com/FeldrinH/HexOnline" github="FeldrinH/HexOnline" />
	<Project title="Project Bueno" href="https://github.com/FeldrinH/ProjectBueno" github="FeldrinH/ProjectBueno" />
	<h2>Mods</h2>
	<Project title="Sandbuy (Garry's Mod)" href="https://steamcommunity.com/sharedfiles/filedetails/?id=989449642" github="FeldrinH/Sandbuy" />
	<Project title="Weapon Pedestal (Garry's Mod)" href="https://steamcommunity.com/sharedfiles/filedetails/?id=936143899" />
	<Project
		title="Fear The Darkness (Minecraft)"
		href="https://www.curseforge.com/minecraft/mc-mods/fear-the-darkness-the-deadly-shadows-mod"
		github="FeldrinH/FearTheDarkness"
	/>
</Layout>

<style>
	h2 {
		margin-bottom: 0.7em;
	}
	.logo {
		height: 1em;
	}
	.logo:hover {
		opacity: 75%;
	}
</style>
